services:
  projects-abyss-card:
    image: ghcr.io/rushkii/abyss-card:edge
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.projects-abyss-card.entrypoints=web,websecure"
      - "traefik.http.routers.projects-abyss-card.rule=Host(`abyss-card.projects.teknologiumum.com`)"
      - "traefik.http.routers.projects-abyss-card.tls.certresolver=tlsresolver"
      - "traefik.http.routers.projects-abyss-card.middlewares=tgif-header,tgif-rate,tgif-redirectscheme"
      - "traefik.http.services.projects-abyss-card.loadbalancer.server.port=3000"
      - "traefik.http.services.projects-abyss-card.loadbalancer.server.scheme=http"
      - "traefik.http.services.projects-abyss-card.loadbalancer.healthcheck.interval=60s"
      - "traefik.http.services.projects-abyss-card.loadbalancer.healthcheck.path=/"
      - "traefik.http.middlewares.projects-abyss-card-rate.ratelimit.average=200"
      - "traefik.http.middlewares.projects-abyss-card-rate.ratelimit.burst=100"
      - "traefik.http.middlewares.projects-abyss-card-rate.ratelimit.period=1s"
      - "traefik.http.middlewares.projects-abyss-card-header.headers.addvaryheader=true"
      - "traefik.http.middlewares.projects-abyss-card-header.headers.frameDeny=true"
      - "traefik.http.middlewares.projects-abyss-card-header.headers.browserxssfilter=true"
      - "traefik.http.middlewares.projects-abyss-card-header.headers.stsSeconds=604800"
      - "traefik.http.middlewares.projects-abyss-card-header.headers.stsIncludeSubdomains=true"
      - "traefik.http.middlewares.projects-abyss-card-header.headers.browserXssFilter=true"
      - "traefik.http.middlewares.projects-abyss-card-header.headers.contentTypeNosniff=true"
      - "traefik.http.middlewares.projects-abyss-card-header.headers.customResponseHeaders.server=Teknologi Umum"
      - "traefik.http.middlewares.projects-abyss-card-redirectscheme.redirectscheme.scheme=https"
      - "traefik.http.middlewares.projects-abyss-card-redirectscheme.redirectscheme.permanent=true"
      - "com.centurylinklabs.watchtower.enable=true"
    platform: linux/amd64
    healthcheck:
      test: curl -f http://localhost:3000/ || exit 1
      interval: 30s
      timeout: 20s
      retries: 5
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: unless-stopped
        delay: 30s
        window: 120s
      resources:
        limits:
          memory: 500MB
          cpus: '1'
        reservations:
          memory: 100MB
          cpus: '0.10'
    networks:
      - projects
    logging:
      driver: json-file
      options:
        max-size: 10M
        max-file: 3

networks:
  projects:
    driver: bridge
    external: true
    ipam:
      config:
        - subnet: 172.16.30.0/24
