services:
  tgif:
    image: ghcr.io/teknologi-umum/tgif:edge
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.tgif.entrypoints=web,websecure"
      - "traefik.http.routers.tgif.rule=Host(`tgif.teknologiumum.com`)"
      - "traefik.http.routers.tgif.tls.certresolver=tlsresolver"
      - "traefik.http.routers.tgif.middlewares=tgif-header,tgif-rate,tgif-redirectscheme"
      - "traefik.http.services.tgif.loadbalancer.server.port=80"
      - "traefik.http.services.tgif.loadbalancer.server.scheme=http"
      - "traefik.http.services.tgif.loadbalancer.healthcheck.interval=30s"
      - "traefik.http.services.tgif.loadbalancer.healthcheck.path=/"
      - "traefik.http.middlewares.tgif-rate.ratelimit.average=200"
      - "traefik.http.middlewares.tgif-rate.ratelimit.burst=100"
      - "traefik.http.middlewares.tgif-rate.ratelimit.period=1s"
      - "traefik.http.middlewares.tgif-header.headers.addvaryheader=true"
      - "traefik.http.middlewares.tgif-header.headers.frameDeny=true"
      - "traefik.http.middlewares.tgif-header.headers.browserxssfilter=true"
      - "traefik.http.middlewares.tgif-header.headers.stsSeconds=604800"
      - "traefik.http.middlewares.tgif-header.headers.stsIncludeSubdomains=true"
      - "traefik.http.middlewares.tgif-header.headers.browserXssFilter=true"
      - "traefik.http.middlewares.tgif-header.headers.contentTypeNosniff=true"
      - "traefik.http.middlewares.tgif-header.headers.customResponseHeaders.server=Teknologi Umum"
      - "traefik.http.middlewares.tgif-redirectscheme.redirectscheme.scheme=https"
      - "traefik.http.middlewares.tgif-redirectscheme.redirectscheme.permanent=true"
      - "com.centurylinklabs.watchtower.enable=true"
    platform: linux/amd64
    healthcheck:
      test: curl -f http://localhost:80/ || exit 1
      interval: 15s
      timeout: 10s
      retries: 5
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: unless-stopped
        delay: 30s
        window: 120s
      resources:
        limits:
          memory: 500MB
          cpus: '1'
        reservations:
          memory: 100MB
          cpus: '0.10'
    networks:
      - tgif
    logging:
      driver: json-file
      options:
        max-size: 10M
        max-file: 3

networks:
  tgif:
    driver: bridge
    external: true
    ipam:
      config:
        - subnet: 172.16.21.96/28
