nuget.teknologiumum.com {
  reverse_proxy 127.0.0.1:5000 {
    transport http {
      read_buffer 16KiB
      write_buffer 16KiB
      compression off
    }
  }

  header {
    Server "Teknologi Umum"
    Permissions-Policy interest-cohort=()
    ?Strict-Transport-Security "max-age=604800; includeSubDomains"
    ?X-Content-Type-Options nosniff
    ?X-Frame-Options DENY
    ?Referrer-Policy no-referrer-when-downgrade
    ?Content-Security-Policy "default-src 'none'; font-src 'self'; script-src 'self' blob:; manifest-src 'self'; media-src 'self' data: blob: about:; style-src 'self' 'unsafe-inline'; base-uri 'none'; img-src 'self' data:; form-action 'self'; frame-ancestors 'none'; connect-src 'self'; worker-src blob:;"
    ?Vary Origin
    ?X-XSS-Protection "1; mode=block"
  }

  tls opensource@teknologiumum.com
}