# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

goproxy.teknologiumum.com {
  reverse_proxy 127.0.0.1:8081 {
    transport http {
      read_buffer 16KiB
      write_buffer 16KiB
      compression off
    }
  }

  header {
    Server "Teknologi Umum"
    Permissions-Policy interest-cohort=()
    ?Strict-Transport-Security "max-age=604800; includeSubDomains"
    ?X-Content-Type-Options nosniff
    ?X-Frame-Options DENY
    ?Referrer-Policy no-referrer-when-downgrade
    ?Content-Security-Policy "default-src 'none'; font-src 'self'; script-src 'self' blob:; manifest-src 'self'; media-src 'self' data: blob: about:; style-src 'self' 'unsafe-inline'; base-uri 'none'; img-src 'self' data:; form-action 'self'; frame-ancestors 'none'; connect-src 'self'; worker-src blob:;"
    ?Vary Origin
    ?X-XSS-Protection "1; mode=block"
  }

  tls opensource@teknologiumum.com
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
